# 忽略target
target/

# 忽略.history文件
.history/

# 忽略.idea文件夹
.idea/

# 忽略.vscode文件夹
.vscode/

# 忽略node_modules文件夹
node_modules/

# 忽略.iml文件
*.iml

# 忽略日志文件
*.log

# 忽略临时文件
*.tmp

# 忽略编译产生的文件
*.class
*.war
*.jar
*.war
*.ear
*.zip
*.tar
*.gz
*.rar

# 忽略IDE的配置文件
*.idea/workspace.xml
*.idea/tasks.xml
*.idea/dictionaries
*.idea/encodings.xml
*.idea/misc.xml
*.idea/modules.xml
*.idea/vcs.xml